<div class="application mat-app-background">
  <div class="nav-bar">
    <span class="logo unselecteable">epiiics.com</span>
  </div>
  <div class="bar-button-container" *ngIf="canEdit">
    <div class="bar-button unselecteable" [class.start-edit-bar]="!editMode" [class.stop-edit-bar]="editMode" (click)="toggleEditMode()">
      <img [src]="editMode ? 'assets/icon/ic_save_light.png' : 'assets/icon/ic_edit_light.png'" />
      <div style="flex-grow: 0;">
        <span>{{ editMode ? 'save changes' : 'start editing' }}</span>
        <span style="opacity: .5;" *ngIf="!editMode">&nbsp;&nbsp;only you can edit this, because you’re the creator.</span>
      </div>
    </div>
  </div>
  <div class="hlist share-hint" *ngIf="canEdit">
    <span>Copy this page’s address to share your epic:&nbsp;</span>
    <div #linkBox class="vlist share-link-box" (click)="copyEpicAddress(linkBox)">
      <span class="share-link">https://epiiics.com/{{epicId}}</span>
      <span class="share-link-copy-hint" style="font-size: 10pt; height: 0; overflow: hidden;">click to copy</span>
    </div>
  </div>

  <div *ngIf="epicItem != null" id="content">
    <app-epic-title [epic]="epicItem" [editMode]="editMode"></app-epic-title>
    <div *ngFor="let comp of epicItem.components; last as isLast first as isFirst; let i = index; trackBy:trackComponentsBy">
      <app-epic-link *ngIf="comp.type === 'link'" [epic]="epicItem" [component]="comp" [isLastItem]="isLast" [isFirstItem]="isFirst" [editMode]="editMode" (deleteClicked)="deleteComponentAt(i)" (moveClicked)="moveComponentAt(i, $event)"></app-epic-link>
      <app-epic-description *ngIf="comp.type === 'description'" [epic]="epicItem" [component]="comp" [isLastItem]="isLast" [isFirstItem]="isFirst" [editMode]="editMode" (deleteClicked)="deleteComponentAt(i)" (moveClicked)="moveComponentAt(i, $event)"></app-epic-description>
      <app-epic-images *ngIf="comp.type === 'images'" [epic]="epicItem" [component]="comp" [isLastItem]="isLast" [isFirstItem]="isFirst" [editMode]="editMode" (deleteClicked)="deleteComponentAt(i)" (moveClicked)="moveComponentAt(i, $event)"></app-epic-images>
      <app-epic-goals-okrs *ngIf="comp.type === 'goal'" [epic]="epicItem" [component]="comp" [isLastItem]="isLast" [isFirstItem]="isFirst" [editMode]="editMode" (deleteClicked)="deleteComponentAt(i)" (moveClicked)="moveComponentAt(i, $event)"></app-epic-goals-okrs>
    </div>
    <div class="new-component-container" [class.zeroheight]="!editMode" [class.inopaque]="!editMode">
      <app-structure-guide  iconName="ic_add" hideLine="true">
        <div class="component-type-selector">
          <div class="new-item-button vlist" (click)="addComponent(type.identifier)" *ngFor="let type of componentTypes">
            <div class="hlist">
              <img class="icon" [src]="'assets/icon/' + type.iconName + '.png'" />
              <span class="component-type-title">{{type.title}}</span>
            </div>
            <span class="component-type-description">{{type.description}}</span>
          </div>
        </div>
      </app-structure-guide>
    </div>
  </div>

  <div id="app-footer" class="vlist">
    <div *ngIf="!firstVisit" id="footer-coffee" class="hlist" style="justify-content: center;">
      <img class="icon" src="assets/icon/ic_coffee.png" />
      <div class="vlist" style="align-items: start; margin-left: 12pt;">
        <span style="color: #000; line-height: 24pt;">Like this tool?</span>
        <a class="link-text" href="https://www.buymeacoffee.com/moritzbruder">Buy me a coffee!</a>
      </div>
    </div>
    <div id="footer-legal" class="vlist">
      <a class="logo-container" href="https://thinkin-apps.com">
        <img src="../assets/ta-logo-mute.png" style="width: 100pt; position: absolute; top: 0;" />
        <img class="logo-colored" src="../assets/ta-logo.png" style="width: 100pt; position: absolute; top: 0;" />
      </a>
      <span>Icons by <a href="https://icons8.com">icons8.com</a></span>
      <div><a [href]="'mailto:info@thinkin-apps.com?subject=Feedback%20epiiics.com%20(Epic%20Id%3A%20' + epicId + ')'" href="">Contact/Feedback</a><span>&nbsp;-&nbsp;</span><a href="https://thinkin-apps.com/imprint">Imprint</a></div>
    </div>

  </div>

  <div *ngIf="analyticsConsent == null" class="hlist" style="position: fixed; bottom: 0; left: 0; right: 0; transition: all .2s ease-in-out; justify-content: center; padding: 4pt; box-sizing: border-box; background: black; color: white;">
    <span>Do you agree to analytics? <span style="opacity: 0.5">This will use cookies and potentially track your IP address.</span></span>
    &nbsp;
    <span (click)="cookieConsent(true)" class="link-text unselecteable">Yes</span>
    &nbsp;&nbsp;
    <span (click)="cookieConsent(false)" class="link-text unselecteable">No</span>
  </div>

</div>
